<script>
    var baseurl = '{{ site.baseurl }}'
</script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{"/js/bootstrap.min.js " | prepend: site.baseurl }} "></script>
<script src="{{"/js/typeahead.bundle.min.js " | prepend: site.baseurl }} "></script>
<script src="{{"/js/main.js " | prepend: site.baseurl }} "></script>
<script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/SVG"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { fonts: ["TeX"] }
      });
    </script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
